PORT=8787
HOST=127.0.0.1
WDK_SEED_PHRASE=
WDK_SERVICE_API_KEY=

# RPC URLs used by @tetherto/wdk-wallet-evm registration
BSC_RPC_URL=https://bsc-rpc.publicnode.com
POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
