<div class="topnav">
  <a class="navbtn {% if current_page == 'home' %}active{% endif %}" href="/">Home</a>
  <a class="navbtn {% if current_page == 'dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a>
  <a class="navbtn {% if current_page == 'activity' %}active{% endif %}" href="/activity">Activity</a>
  <a class="navbtn {% if current_page == 'status_api' %}active{% endif %}" href="/api/status">Status API</a>
  <a class="navbtn {% if current_page == 'activity_api' %}active{% endif %}" href="/api/activity">Activity API</a>
</div>
